<article class="post">
  <div class="title">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text text">By: {{user.username}} on {{format_date created_at}}</p>
  </div>
  <div class="meta">
    <p class="card-text"> {{this.post_text}} </p>
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>